@import "mixins";
@import "hacks";
@import "normalize";

// @import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:700');
// $font: "Anonymous Pro";

@import url('https://fonts.googleapis.com/css?family=Cousine:400');
$font: "Cousine";

// @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500');
// $font: "Source Code Pro";

// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400');
// $font: "IBM Plex Mono";


$color-background: #fff;
$color-text: #000;
$color-text-2: #111;
$color-text-hover: #ff0000;

html, body {
	background-color: $color-background;
  font-size: 14px;
  height: 100%;
}

main {
  display: flex;
	width: 100%;
  height: 100%;
	margin: 0 auto;
	font-family: $font, serif;
	background-color: $color-background;
	text-align: center;
  font-size: 4vmin;
  justify-content: center;
  align-items: center;
  text-rendering: optimizeLegibility;
  //text-shadow: 2px 2px 0 #ccc;
}

#table {
  display: table;
  div.row {
    display: table-row;
    div {
      display: table-cell;
      text-transform: uppercase;
    }
  }
}

a {
  display: block;
  color: $color-text;
  padding: 1em;
  text-decoration: none;
  &.hov, &:hover {
    color: $color-text-hover;
  }
}
.github a, .photo a, .blog a {
  color: $color-text-2;
  &.hov, &:hover {
    color: $color-text-hover;
  }
}

@media (max-width: 480px) {
    main {
      font-size: 6vmin;
    }
}

