{{ define "main" }}
{{ $mail := "mailto:igor.spasic+hello@gmail.com" }}

<div id="grid">

    	{{ partial "cell" (dict "n" "code" "l" "C" "p" 1 )}}
        {{ partial "cell" (dict "n" "code" "l" "o" "p" 2 )}}
        {{ partial "cell" (dict "n" "code" "l" "d" "p" 3 )}}
        {{ partial "cell" (dict "n" "code" "l" "e" "p" 4 )}}
        {{ partial "cell" (dict "n" "work" "l" "W" "p" 5 )}}

        {{ partial "cell" (dict "n" "work" "l" "o" "p" 6 )}}
        {{ partial "cell" (dict "n" "work" "l" "r" "p" 7 )}}
        {{ partial "cell" (dict "n" "work" "l" "k" "p" 8 )}}
        {{ partial "cell" (dict "n" "make" "l" "M" "p" 9 )}}
        {{ partial "cell" (dict "n" "make" "l" "a" "p" 10 )}}

        {{ partial "cell" (dict "n" "make" "l" "k" "p" 11 )}}
        {{ partial "cell" (dict "n" "make" "l" "e" "p" 12 )}}
        {{ partial "cell" (dict "n" "impact" "l" "I" "p" 13 )}}
        {{ partial "cell" (dict "n" "impact" "l" "m" "p" 14 )}}
        {{ partial "cell" (dict "n" "impact" "l" "p" "p" 15 )}}

        {{ partial "cell" (dict "n" "impact" "l" "a" "p" 16 )}}
        {{ partial "cell" (dict "n" "impact" "l" "c" "p" 17 )}}
        {{ partial "cell" (dict "n" "impact" "l" "t" "p" 18 )}}
        {{ partial "link" (dict "n" "contact" "l" "C" "p" 19 "url" $mail )}}
        {{ partial "link" (dict "n" "contact" "l" "o" "p" 20 "url" $mail )}}

        {{ partial "link" (dict "n" "contact" "l" "n" "p" 21 "url" $mail )}}
        {{ partial "link" (dict "n" "contact" "l" "t" "p" 22 "url" $mail )}}
        {{ partial "link" (dict "n" "contact" "l" "a" "p" 23 "url" $mail )}}
        {{ partial "link" (dict "n" "contact" "l" "c" "p" 24 "url" $mail )}}
        {{ partial "link" (dict "n" "contact" "l" "t" "p" 25 "url" $mail )}}

</div>

{{ end }}

{{ define "script"}}

{{ $jodd := "https://jodd.org" }}
{{ $github := "https://github.com/igr" }}
{{ $lin := "https://www.linkedin.com/in/igorspasic/" }}
{{ $photos := "https://500px.com/igo_rs" }}
{{ $razvigor := "https://razvigor.com" }}
{{ $insta := "https://www.instagram.com/1g0r8" }}
{{ $hs := "https://heapspace.rs" }}
{{ $blog := "https://oblac.rs" }}


<script type="text/javascript">

function click(selected) {
    if (selected === "code") {
        addLinkToCell(5, "{{ $jodd }}", "Jodd");
        addLinkToCell(9, "{{ $github }}", "GitHub");
        addLinkToCell(15, "{{ $blog }}", "Blog");
        addEmptyCells(19, 7);
    }
    if (selected == "work") {
        addEmptyCells(1, 4);
        addLinkToCell(9, "{{ $lin }}", "LinkedIn");
        addLinkToCell(17, "{{ $github }}", "GitHub");
        addEmptyCells(23, 3);
    }
    if (selected == "make") {
        addEmptyCells(1, 2);
        addLinkToCell(3, "{{ $photos }}", "Photos");
        addLinkToCell(13, "{{ $razvigor }}", "Razvigor");
        addLinkToCell(21, "{{ $insta }}", "Insta");
    }
    if (selected == "impact") {
        addEmptyCells(1, 3);
        addLinkToCell(4, "{{ $hs }}", "Heapspace");
        addLinkToCell(19, "{{ $blog }}", "Blog");
        addEmptyCells(23, 3);
    }
    hover('link');
}
function unclick() {
    $('#grid div a').show();
    $(".link").remove()
}
function addLinkToCell(id, href, string) {
    for (var i = 0; i < string.length; i += 1) {
        $('#p' + id + ' a').hide();
        $('#p' + id).append("<a href='" + href + "' target='_blank' class='link' data-name='" + string + "'>" + string.charAt(i) + "</a>");
        id += 1;
    }
}

function addEmptyCells(id, count) {
    for (var i = 0; i < count; i += 1) {
        $('#p' + id + ' a').hide();
        $('#p' + id).append("<span href='#' class='link nonselect'>&nbsp;</span>");
        id += 1;
    }
}

$(function() {
    // clicker
    var nameSelected;
    $('#grid a').click(function() {
        const box = $(this);
        const nameClicked = box.data('name');
        if (nameClicked === nameSelected) {
            // unclick
            $('#grid a').removeClass('selected');
            nameSelected = undefined;
            unclick();
        }
        else {
            // click
            $('#grid a').removeClass('selected');
            nameSelected = nameClicked;
            if (nameSelected === 'contact') {
                return true;
            }
            $('a[data-name='+ nameSelected + ']').addClass('selected');
            click(nameSelected);
        }
        return false;
    });

    // hover
	hover();
});

function hover(aClass) {
    const selector = aClass ? "#grid a." + aClass : "#grid a";
    $(selector).mouseenter(function() {
        const hoverName = $(this).data('name');
        $('a[data-name=' + hoverName + ']').addClass('hov');
    })
    .mouseleave(function() {
        $('#grid a').removeClass('hov');
    });
}
</script>
{{ end }}