#mail {
  width: 100%;
  font-size: 2em;
  font-weight:bold;
}

#info {
  grid-column: 1 / span 3;
  font-size: 0.5em;
  visibility: hidden;
}

@media (max-width:600px) {
  #mail {
    font-size: 8vmin;
  }
  #info {
    font-size: 3vmin;
  }
}
