@import "mixins";
@import "hacks";
@import "normalize";

// @import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:700');
// $font: "Anonymous Pro";

@import url('https://fonts.googleapis.com/css?family=Cousine:400');
$font: "Cousine";

// @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500');
// $font: "Source Code Pro";

// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400');
// $font: "IBM Plex Mono";


$color-background: #fff;
$color-text: #000;
$color-selected-text: #fff;
$color-text-hover: #ff0000;

html, body {
	background-color: $color-background;
  font-size: 16px;
  height: 100%;
}

main {
  display: flex;
	width: 100%;
  height: 100%;
	margin: 0 auto;
	font-family: $font, serif;
	background-color: $color-background;
	text-align: center;
  font-size: 4vmin;
  justify-content: center;
  align-items: center;
  text-rendering: optimizeLegibility;
  //text-shadow: 2px 2px 0 #ccc;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  div {
    display: block;
    text-transform: uppercase;
  }
}

a {
  display: block;
  padding: 1em 1.2em;
  color: $color-text;
  text-decoration: none;
  &.hov, &:hover {
    color: $color-text-hover;
  }
}

.nonselect {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

a.selected {
  background-color: $color-text-hover;
  color: $color-selected-text;
}

