{% extends "base.njk" %}
{% import "macros.njk" as macros %}


{% block main %}
  {% set mail = "/contact" %}

  <div id="grid">

    {{ macros.cell(n="code", l="C", "p"=1 ) }}
    {{ macros.cell(n="code", l="o", "p"=2 ) }}
    {{ macros.cell(n="code", l="d", "p"=3 ) }}
    {{ macros.cell(n="code", l="e", "p"=4 ) }}
    {{ macros.cell(n="work", l="W", "p"=5 ) }}

    {{ macros.cell(n="work", l="o", "p"=6 ) }}
    {{ macros.cell(n="work", l="r", "p"=7 ) }}
    {{ macros.cell(n="work", l="k", "p"=8 ) }}
    {{ macros.cell(n="make", l="M", "p"=9 ) }}
    {{ macros.cell(n="make", l="a", "p"=10 ) }}

    {{ macros.cell(n="make", l="k", "p"=11 ) }}
    {{ macros.cell(n="make", l="e", "p"=12 ) }}
    {{ macros.cell(n="affect", l="A", "p"=13 ) }}
    {{ macros.cell(n="affect", l="f", "p"=14 ) }}
    {{ macros.cell(n="affect", l="f", "p"=15 ) }}

    {{ macros.cell(n="affect", l="e", "p"=16 ) }}
    {{ macros.cell(n="affect", l="c", "p"=17 ) }}
    {{ macros.cell(n="affect", l="t", "p"=18 ) }}
    {{ macros.link(n="contact", l="C", "p"=19, u=mail ) }}
    {{ macros.link(n="contact", l="o", "p"=20, u=mail ) }}

    {{ macros.link(n="contact", l="n", "p"=21, u=mail ) }}
    {{ macros.link(n="contact", l="t", "p"=22, u=mail ) }}
    {{ macros.link(n="contact", l="a", "p"=23, u=mail ) }}
    {{ macros.link(n="contact", l="c", "p"=24, u=mail ) }}
    {{ macros.link(n="contact", l="t", "p"=25, u=mail ) }}

  </div>

{% endblock %}
{% block script %}

  {% set jodd = "https://jodd.org" %}
  {% set github = "https://github.com/igr" %}
  {% set lin = "https://www.linkedin.com/in/igorspasic/" %}
  {% set photos = "https://www.igrpx.com" %}
  {% set bgde = "https://bgde.rs" %}
  {% set serbiais = "https://serbia.is" %}
  {% set razvigor = "https://razvigor.com" %}
  {% set zdrum = "https://zdrum.work" %}
  {% set insta = "https://igornagram.com/" %}
  {% set hs = "https://heapspace.rs" %}
  {% set blog = "https://oblac.rs" %}
  {% set supr = "https://supr.life" %}
  {% set edu = "https://oblacodemia.com" %}
  {% set noodd = "https://noodd.com" %}
  {% set oblac = "https://oblac.com" %}


<script type="text/javascript">

  function pushHash(hashName) {
    if (history.replaceState) {
      history.replaceState(null, null, '#' + hashName);
    } else {
      location.hash = '#' + hashName;
    }
  }
  function removeHash () {
    var scrollV, scrollH, loc = window.location;
    if ("pushState" in history)
      history.pushState("", document.title, loc.pathname + loc.search);
    else {
      // Prevent scrolling by storing the page's current scroll offset
      scrollV = document.body.scrollTop;
      scrollH = document.body.scrollLeft;

      loc.hash = "";

      // Restore the scroll offset, should be flicker free
      document.body.scrollTop = scrollV;
      document.body.scrollLeft = scrollH;
    }
  }

  function click(selected) {
    if (selected === "code") {
      addLinkToCell(5, "{{ github }}", "GitHub");
      addLinkToCell(11, "{{ jodd }}", "Jodd");
      addLinkToCell(15, "{{ blog }}", "Blog");
      addEmptyCells(19, 7);
    }
    if (selected === "work") {
      addEmptyCells(1, 1);
      addLinkToCell(2, "{{ edu }}", "Edu");
      // work
      addLinkToCell(9, "{{ lin }}", "LinkedIn");
      addLinkToCell(17, "{{ github }}", "GitHub");
      addEmptyCells(23, 3);
    }
    if (selected === "make") {
      addEmptyCells(1, 2);
      addLinkToCell(3, "{{ photos }}", "Ṗ");
      addEmptyCells(4, 2);
      addLinkToCell(6, "{{ serbiais }}", "§");
      addLinkToCell(7, "{{ bgde }}", "б");
      addEmptyCells(8, 1);
      // make
      addEmptyCells(13, 1);
      addLinkToCell(14, "{{ razvigor }}", "Ṝ");
      addEmptyCells(15, 1);
      addLinkToCell(16, "{{ zdrum }}", "Ẓ");
      addEmptyCells(17, 1);
      addLinkToCell(18, "{{ supr }}", "Ṩ");
      addEmptyCells(19, 3);
      addLinkToCell(22, "{{ oblac }}", "Ö");
      addEmptyCells(23, 2);
      addLinkToCell(25, "{{ noodd }}", "ñ");
    }
    if (selected === "affect") {
      addEmptyCells(1, 3);
      addLinkToCell(4, "{{ hs }}", "Heapspace");
      addLinkToCell(19, "{{ blog }}", "Blog");
      addEmptyCells(23, 3);
    }
    pushHash(selected);
    hover('link');
  }

  function unclick() {
    $('#grid div a').show();
    $(".link").remove();
    removeHash();
  }

  function addLinkToCell(id, href, string) {
    for (let i = 0; i < string.length; i += 1) {
      $('#p' + id + ' a').hide();
      $('#p' + id).append(`<a href='${href}' target='_blank' class='link' data-name='${string}'>${string.charAt(i)}</a>`);
      id += 1;
    }
  }

  function addEmptyCells(id, count) {
    for (let i = 0; i < count; i += 1) {
      $('#p' + id + ' a').hide();
      $('#p' + id).append("<span href='#' class='link nonselect'>&nbsp;</span>");
      id += 1;
    }
  }

  $(function () {
    // clicker
    let nameSelected;
    $('#grid a').click(function () {
      const box = $(this);
      const nameClicked = box.data('name');
      if (nameClicked === nameSelected) {
        // unclick
        $('#grid a').removeClass('selected');
        nameSelected = undefined;
        unclick();
      } else {
        // click
        $('#grid a').removeClass('selected');
        nameSelected = nameClicked;
        if (nameSelected === 'contact') {
          return true;
        }
        $('a[data-name=' + nameSelected + ']').addClass('selected');
        click(nameSelected);
      }
      return false;
    });

    // hover
    hover();

    // select hash
    const hash = location.hash.substr(1);
    if (hash) {
      $("#grid a[data-name|=" + hash + "]").first().click();
    }
  });

  function hover(aClass) {
    const selector = aClass ? "#grid a." + aClass : "#grid a";
    $(selector).mouseenter(function () {
      const hoverName = $(this).data('name');
      $('a[data-name=' + hoverName + ']').addClass('hov');
    })
      .mouseleave(function () {
        $('#grid a').removeClass('hov');
      });
  }
</script>
{% endblock %}
